* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #AFCBFF;
}

.dino-barn {
  display: flex;
  justify-content: space-evenly;
}

.dinosaur {
  border: 2px solid #3A2E39;
  background-color: #F9FBF2;
  text-align: center;
  padding: 5px;
  width: 200px;
  margin: 15px;
}

#assignments {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.assignment {
  border: 2px solid #3A2E39;
  background-color: #F9FBF2;
  text-align: center;
  padding: 15px;
  margin: 15px;
}
